cloudscraper>=1.2.60
certifi==2021.10.8
requests==2.27.1
git+https://github.com/porthole-ascend-cinnamon/PyRoxy.git@e0cd1b6a4320ecacc885d056d42b23f300f5be52
yarl==1.7.2
tabulate==0.8.9
colorama==0.4.4
dnspython==2.2.1
